{{ template "layout.html" . }}

{{define "title"}}
    <title>编辑产权信息</title>
{{end}}
{{define "main_body"}}
    <div class="main_body" id="main_body">
        <div class="breadcrub">
            当前位置：<a href="/index">文章管理</a>>编辑产权信息
        </div>
        <div class="pannel">
            <form method="post" action="/article/edit" enctype="multipart/form-data">
            <h3 class="review_title">编辑产权信息</h3>
            <div class="form_group">
                <label>文章编号：</label>
                <input type="text" class="input_txt2" name="artid">
            </div>
            <div class="form_group">
                <label>产权人姓名</label>
                <input type="text" class="input_txt2" name="newownername">
            </div>
            <div class="form_group">
                <label>产权人身份证号</label>
                <input type="text" class="input_txt2" name="newownercardnumber">
            </div>
            <div class="form_group">
                <input type="hidden" class="input_txt2" name="accountid" value="{{.accountid}}">
            </div>
            <div class="form_group indent_group line_top">
                <input type="submit" value="保 存" class="confirm">
                <span>{{.errmsg}}</span>
            </div>
        </form>            
        </div>    
</div>
{{end}}